@import './variables';

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin contentPadding {
    padding-left: 2vh;
    padding-right: 2vh;
}

@mixin contentWidth {
    width: 100%;
    max-width: 1200px;
}

@mixin placeCenter {
    display: grid;
    place-items: center;
}