@import "./functions";
@import "./themes.scss";
@import "./variables";
@import "./fonts.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  background-image: linear-gradient(to bottom, var(--background-color), var(--foreground-color));
  background-color: var(--background-color);
}

main {
  margin: 0 auto;
  padding-top: 2vw;
  padding-bottom: 2vw;
  @include contentPadding;
  @include contentWidth;
}

img {
  user-select: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
p,
span,
b,
strong,
small {
  text-align: center;
  color: var(--text-color);
}

h1 {
  font-size: 7.0vh;
}

h2 {
  font-size: 5.0vh;
}

h3 {
  font-size: 3vh;
}

p,
span,
b,
strong,
a {
  font-size: 2.5vh;
}

small {
  font-size: 2vh;
}

button {
  outline: none;
  border: none;
  border-radius: 0.5vh;
  transition: $transition-short;
  font-weight: bold;
  cursor: pointer;
  color: var(--text-color);

  &:hover {
    filter: brightness(1.2);
  }
}

input {
  border: none;
  outline: none;
  height: 4.5vh;
  border-radius: 0.5vh;
  font-size: 2.2vh;
  background-color: var(--background-color);
  padding: 1vh;
  text-align: center;
  transition: $transition-short;
  color: var(--text-color);

  &:hover {
    filter: brightness(1.2);
  }
}

::selection {
  color: var(--background-color);
  background: var(--highlight-color);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--foreground-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--foreground-color);
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {}