@import "../../../styles/functions";

.container {
    position: fixed;
    left: 3vh;
    bottom: 3vh;
    height: 6vh;
    width: 6vh;
    border-radius: 50vh;
    background-color: rgba(255, 255, 255, 0.468);
    border: 0.3vh solid white;
    cursor: pointer;
    @include placeCenter;
    z-index: 10;
    opacity: 0.8;
    transition: .2s;

    &:hover {
        box-shadow: 0 0 1vh rgba(255, 253, 253, 0.584);
    }

    &>img {
        width: 70%;
        height: 70%;
    }
}