@import "../../../styles/functions";

.container {
    position: fixed;
    left: 3vh;
    bottom: 3vh;
    height: 6vh;
    width: 6vh;
    border-radius: 50vh;
    background-color: var(--background-color);
    border: 0.3vh solid var(--text-color);
    cursor: pointer;
    @include placeCenter;
    z-index: 10;
    opacity: 0.8;
    transition: .2s;

    &:hover {
        box-shadow: 0 0 1vh rgba(255, 253, 253, 0.584);
    }

    &>svg {
        width: 50%;
        height: 50%;
        fill: var(--text-color);
    }
}