@import "../../styles/functions";

.container {
    width: 35svh;
    height: 7.5svh;
    padding: 1vh 2vh 1vh 2vh;
    @include flexCenter;
    cursor: pointer;
    user-select: none;
    border-radius: 1vh;
    transition: $transition-short;
    border: 0.5vh solid var(--text-color);
    filter: brightness(1.3);

    &:hover {
        background-color: var(--text-color);

        &>div span,
        &>div svg {
            fill: var(--background-color);
            color: var(--background-color);
        }
    }

    &>div {
        height: 100%;
        @include flexCenter;
        gap: 1.5vh;
    }

    &>div span {
        font-weight: bold;
        white-space: nowrap;
        color: var(--text-color);
    }

    &>div svg {
        height: 60%;
        width: 60%;
        fill: var(--text-color);
    }
}

@media (max-width: 600px) {
    .container {
        width: 100%;
    }
}