@import "../../../styles/functions";

.background {
    position: fixed;
    background-color: #00000058;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    width: 60vw;
    max-height: 90%;
    border-radius: 1vh;
    margin-top: 5vh;
    overflow: auto;
    background-color: var(--background-opacity-color);
    box-shadow: 0 0 3vh rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5vh);
    border: 0.2vh solid rgba(255, 255, 255, 0.3);
    user-select: none;
    animation: .2s popup forwards;
    padding-bottom: 10vh;
}

.actions {
    position: sticky;
    top: 0;
    left: 0;
    height: 5vh;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1.5vh;
    padding-left: 1.5vh;
    background-color: var(--background-color);
    box-shadow: 0 0 3vh rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0.5vh);
    border-radius: 1vh 1vh 0 0;

    &>svg {
        height: 70%;
        fill: var(--text-color);
        cursor: pointer;
    }

    &>span {
        font-weight: bold;
    }
}

.configFeatures {
    padding: 1.5vh;

    &>span {
        font-size: 2.5vh;
        display: grid;
        place-items: center;
    }
}

.setLogoContainer {
    padding: 1.5vh;

    &>span {
        font-size: 2.5vh;
        display: grid;
        place-items: center;
    }

    &>div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1vh;
        margin-top: 1vh;

        &>span {
            height: 4.5vh;
            width: 10vh;
            display: grid;
            place-items: center;
            border-radius: 0.5vh;
            cursor: pointer;
            background-color: var(--background-color);
            transition: $transition-short;

            &:hover {
                filter: brightness(1.2);
            }
        }

        &>div {
            cursor: pointer;
            color: var(--text-color);
            font-size: 2.2vh;
        }
    }
}

.logoChoose {
    display: grid;
    place-items: center;

    &>p {
        cursor: pointer;
        font-size: 2vh;
    }
}

.themes {
    display: flex;
    gap: 1vh;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1vh;

    &>span {
        padding: 1.5vh;
        padding-left: 2.5vh;
        padding-right: 2.5vh;
        border-radius: 0.5vh;
        background-color: var(--background-color);
        box-shadow: 0 0 3vh rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(0.5vh);
        border: 0.2vh solid var(--highlight-color);
        font-weight: 500;
        color: var(--text-color);
        cursor: pointer;
        font-weight: bold;
        text-transform: capitalize;
        transition: .1s;

        &:hover {
            filter: brightness(1.2);
        }
    }
}

@keyframes popup {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
        height: 100%;
        max-height: 100%;
        margin-top: 0;
        border: 0;
        border-radius: 0;
    }

    .actions {
        border-radius: 0;
    }
}