@import "../../../styles/functions";

.container {
    position: fixed;
    right: 3vh;
    bottom: 3vh;
    height: 7vh;
    width: 7vh;
    border-radius: 50vh;
    background-color: var(--background-color);
    cursor: pointer;
    @include placeCenter;
    z-index: 10;
    opacity: 0.8;
    transition: .2s;

    &:hover {
        transform: scale(1.1);
    }

    &>img {
        width: 100%;
        height: 100%;
    }
}