@import "../../../styles/functions";

.container {
    min-height: 50svh;
    padding-top: 2vw;
    padding-bottom: 2vw;
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;

    &>h2 {
        filter: brightness(2);
    }

    &>p {
        width: 65%;
        text-align: center;
    }
}

.productImage {
    width: 100%;
    display: grid;
    place-items: center;
    filter: drop-shadow(0 0 1vh rgba(0, 0, 0, 0.2));

    &>img {
        width: 65%;
        border-radius: 1vh;
        filter: drop-shadow(0 0 1vh rgba(0, 0, 0, 0.2));
    }
}

@media (max-width: 768px) {
    .title {
        &>p {
            width: 100%;
        }
    }

    .productImage {
        &>img {
            width: 80%;
        }
    }
}